<!DOCTYPE html>
<html lang="en">	
	
	<head>		
		<meta charset="utf-8">
		
		<!-- ADD THE PAGE TITLE BELOW -->
		<title>JFK LOG</title>		                        

        <link rel="stylesheet" href="styles/style.css" /> 

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script src="js/json2.js"></script>
		<script src="js/underscore.js"></script>
		<script src="js/backbone-min.js"></script>
		<!-- Some important stuff here -->
		<script src="js/global.js"></script>
		<script src="js/HTTPhelp.js"></script>
		
        <!--[if IE 6]>
            <link rel="stylesheet" href="styles/ie6.css" />
        <![endif]--> 
        <!--[if IE 7]>
            <link rel="stylesheet" href="styles/ie7.css" />
        <![endif]--> 
        <!--[if IE 8]>
            <link rel="stylesheet" href="styles/ie8.css" />
        <![endif]--> 
        <!--[if IE 9]>
            <link rel="stylesheet" href="styles/ie9.css" />
        <![endif]-->    
		
		<script type="text/template" id="article_template">
			<h2 id="article_title" class="title"><%= title %></h2> 
			<p id="article_date" class="meta"><%= date %></p> 
			<p id="article_content"><%= content %></p> 
			<p id="article_tags"></p> 
			<div class="line"></div> 
			<p id="article_comments"><%= comments %></p>
			<p id="new_comment">
				<form id="new_comment">
					<textarea rows="1" id="new_comment_nick" >Your Nick</textarea><br />
					<textarea rows="5" id="new_comment_content" >Your Comment</textarea><br />
					<input id="submit_comment_button" type="submit" value="Submit" />
				</form>
			</p>
		</script>
		
		<script type="text/template" id="comment_template">
			<p class="comment_header" class="meta"><%= date %> <%= author %></p> 
			<p class="comment_body"><%= comment %></p>
		</script>
		
		<script type="text/template" id="nav_template">
			<ul>
				<li id="bookmark_home">
					<a href="#<%= last_art_id %>" title ="Home" id="bookmark_home_link">
						<img src="images/home.png"></img>
					</a>
				</li>
				<li id="bookmark_about">	
					<a href="" title ="About this blog">
						<img src="images/about.png"></img>
					</a>
				</li>
				<li id="bookmark_me">
					<a href="link to linkedIn profile" title ="Link to my linkedIn profile">
						<img src="images/me.png"></img>
					</a>
				</li>
				<li id="bookmark_github">
					<a href="link to github profile" title ="Link to my github profile">
						<img src="images/github.png"></img>
					</a>
				</li>
			</ul>
		</script>	
	</head> 
	
    <body> 	
    	<div id="wrap"> 
        	<div id="header"> 
               	<div id="logo">                                 
					<div id="logo_text">
						<h1>SJB</h1>
					</div>
					<div id="logo_quote">
						<h2>"Put a quote here." A.Lincoln</h2>
					</div>
				</div>
				
                <div id="nav">
					<!-- navigation buttons will be put here -->
                </div><!--end nav-->
				<script src="js/nav_logic.js"></script>
            </div><!--end header-->	           
            
	        <div id="main">    
				
    			<div id="content"> 
					<div id="article_nav">
						<!-- article navigation will be added here -->
					</div>
					
					<div class="line"></div> 
        			<div id="article" class="article"> 
						<!-- article content will be here -->
					</div>
                    <div class="line"></div> 
					
					<script src="js/article_logic.js"></script>
				</div><!--end content--> 
				
				<div id="sidebar">
					<div id="author-details">
    					<h3><span class="status">Status: </span>[ADD YOUR CURRENT STATUS]</h3>
        				<p>[ADD AN OVERVIEW ABOUT YOUR AREAS OF EXPERTISE]</p>  
    				</div><!--end author-details-->
    			</div><!--end sidebar-->
				
			</div><!--end main--> 
    
    		<div id="footer">
    			<div class="footer-line"></div> 
				<p class="copyright">&middot; jfk 2012 &middot;</p> 
			</div><!--end footer--> 
		</div> <!--end wrap-->
	</body>
</html>